/* ? Feature Section Styling */
.feature {
	margin: 5rem auto;
	display: flex;
	justify-content: center;
	gap: 5rem;
	align-items: center;
}

/* ? Feature Teams Images */
.feature-teams {
	width: 720px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

.feature-description {
	width: 540px;
}

.feature-description h2 {
	font-weight: 500;
}
