.sponsors {
	margin: 120px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.sponsor-detail {
	max-width: 540px;
	margin-bottom: 3rem;
}

.sponsor-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6rem;
}

/* ? Sponsors Section Responsive Query */

@media screen and (max-width: 480px) {
	.sponsor-container {
		flex-direction: column;
		gap: 2rem;
	}
}
