/* Navigation Bar */

nav{

    display: flex;

    width: 1160px;
    height: 44px;
    margin: 0px 140px 0px 140px;
    padding: 21px 0px 10px 0px;

}

/* Navigation Menu */

nav .menu a{

    text-decoration: none;
    color: white;
    margin-right: 36px;

}

/* User Account Options */

.nav-button{

    margin-left: 450px;

}

.nav-button .fa-sign-in-alt{

    color: white;
    margin-right: 8px;

}

.nav-button a{

    text-decoration: none;
    color: white;

}

/* Hover Options */

a:hover{

    cursor: pointer;

}

/* Navigation Bar End */