/* Font Family*/

body{

    font-family: 'Poppins', sans-serif;

}

/* Header Color*/

header{

    background-color: #2D25A0;

}

/* Top Section */

.top-section{

    display: flex;
    color: white;

}


/* Top Heading */

.top-heading{

    width: 487px;
    height: 320px;
}

/* End */

/* Heading */

.top-heading{

    margin: 205px 102px 170px 150px;

}

.top-heading .heading{

    width: 485px;
    height:230px;
    font-size: 64px;
    font-weight: 700;

}

.heading p{

    margin:0px;

}

.top-heading .heading .Button{

    display: flex;
    justify-content: center;
    align-items: center;
   
}

/* Heading Ends */

 /* Watch-Live Button */

.Button{

    margin: 21px;
    margin-left: 0px;

    height: 44px;
    width: 168px;

    border: 2px solid #E02C6F;
    border-radius: 25px;

    padding: 0 24px;

    background-image: linear-gradient(#E02C6F,rgb(128, 0, 74));

}

.Button:hover{

    cursor: pointer;

}

.Button .watch-live{

    text-decoration: none;
    color: white;
    font-size: 16px;
    color: white;
    padding: 10px 0px;

}

.Button .fa-arrow-right{

    margin-left: 8px;
    font-size: 16px;
    color: white;
    padding: 10PX 0px;


}

/* Button Ends */



/* Header Thumbnail*/

.header-thumbnail{

    margin: 155px 150px 86px 102px;

}

.header-thumbnail img{

    width: 556px;
    height: 438px;

}

/* Thumbnail Ends */

/* Player grid */

.Player-Grid .top-players {

    width: 100px;
    height: 2020px;

    margin: 30px 190px;

}

.Grid-Cells .players{

    width: 330px;
    height: 474px;
    
}




/* Grid Cell Styling*/

.Gradient-Border{

    border-left:5px solid;
    border-right: 5px solid;
    border-image: linear-gradient(#2D25A0,#E02C6F);
    border-image-slice: 1 2;

}

.Shadow-Box{

    box-shadow: 15px 15px 35px grey;

}

/* Grid Cell Details */


.Grid-Cells .players .player-img img{

    width: 300px;
    height: 256px;
    margin: 15px;

}

.Grid-Cells .players .player-details{

    width: 300px;
    height: 164px;
    margin: 0px 15px;

}



.player-details p{

    font-size: 16px;

}