/* Font Family*/

body{

    font-family: 'Poppins', sans-serif;

}

/* Header Color*/

header{

    background-color: #2D25A0;

}

/* Top Section */

.top-section{

    display: flex;
    color: white;

}


/* Top Heading */

.top-heading{

    width: 487px;
    height: 320px;
}

/* End */

/* Heading */

.top-heading{

    margin: 205px 102px 170px 150px;

}

.top-heading .heading{

    width: 485px;
    height:230px;
    font-size: 64px;
    font-weight: 700;

}

.heading p{

    margin:0px;

}


/* Heading Ends */

 /**********************
 Watch-Live-Watch Now 
 **********************/

.Button{

    display: flex;
    justify-content: center;
    align-items: center;
   
}

.Button{

    margin: 21px;
    margin-left: 0px;

    height: 44px;
    width: 168px;

    border: 2px solid #E02C6F;
    border-radius: 25px;

    padding: 0 24px;

    background-image: linear-gradient(#e62c70,rgb(128, 0, 74));

}

.Button:hover{

    cursor: pointer;
    transform: scale(1.2);

}

.watch-live,.watch-now{

    text-decoration: none;
    color: white;
    font-size: 16px;
    color: white;
    padding: 10px 0px;

}

.Button .fa-arrow-right{

    margin-left: 8px;
    font-size: 16px;
    color: white;
    padding: 10PX 0px;


}

/* Button Ends */



/* Header Thumbnail*/

.header-thumbnail{

    margin: 155px 150px 86px 102px;

}

.header-thumbnail img{

    width: 556px;
    height: 438px;

}

.header-thumbnail img:hover{

    position: absolute;

    width: 580px;
    height: 460px;

    transform: rotate(15deg);

}

/* Thumbnail Ends */

/********
    Main
********/

/* Player grid */

.Player-Grid .top-players {

    width: 1080px;
    height: 2020px;

    margin: 30px 190px;

}

.Player-Grid .top-players .Grid-Cells{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 35px;
    grid-row-gap: 35px;

}

.Grid-Cells .players{

    width: 330px;
    height: 474px;
    
}


/* Grid Cell Styling*/

.Gradient-Border{

    border-left:5px solid;
    border-right: 5px solid;
    border-image: linear-gradient(#2D25A0,#E02C6F);
    border-image-slice: 1 2;

}

.Shadow-Box{

    box-shadow: 15px 15px 25px grey;

}

/* Grid Cell Details */


.Grid-Cells .players .player-img img{

    width: 300px;
    height: 256px;
    margin: 15px;

}

.Grid-Cells .players:hover .player-img img{

    transform: scale(1.1);

}


.Grid-Cells .players .player-details{

    width: 300px;
    height: 164px;
    margin: 0px 15px;

}


.Grid-Cells .players .player-details h3{

    color: #2D25A0;

}

.Grid-Cells .players:hover .player-details h3{

    color: #E02C6F;

}

/* Article-Copa Highlights */

.Highlights{

    width: 1440px;
    height: 450px;

    display: flex;
    align-items: center;
    justify-content:space-evenly;

}

.Copa-Highlights{

    width: 470px;
    height: 310px;

    
    padding: 2%;

}


/* Copa Image */

.Highlights .Copa-Image img{

    width: 570px;
    height: 427px;

}

/* Main End*/

/*********************
    Footer Options
**********************/

footer .footer-image img{

    width: 485px;
    height: 110px;

    margin: 20px 10px 20px 10px;

}

 /* Social Info */

footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 160px;

}

footer .socials{

    font-size: 32px;
    color: #E02C6F;

    margin: 20px;

    display: flex;

}

.instagram,
.dribble,
.twitter,
.youtube{

    margin-right: 15px;

}

footer .copyright{

    margin-bottom: 60px;
    font-size: 18px;
    color:#2D25A0;
    font-weight: 700;

}
